In [1]:
import pandas as pd

# #Reading data

In [2]:
df = pd.read_csv(r"C:\Users\yash mohite\OneDrive\Desktop\corona virus solution\data.csv.csv")

In [3]:
df.tail()

         feaver  bodypain  age  runnyNose  diffbreath  infectionprob
2749  99.021616         1   54          1           0              1
2750  99.377366         1   19          0          -1              0
2751  98.861909         0   66          1           1              0
2752  99.460644         1    3          0           1              0
2753  99.448205         0   47          1           0              1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2754 entries, 0 to 2753
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   feaver         2754 non-null   float64
 1   bodypain       2754 non-null   int64
 2   age            2754 non-null   int64
 3   runnyNose      2754 non-null   int64
 4   diffbreath     2754 non-null   int64
 5   infectionprob  2754 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 129.2 KB

In [5]:
df["diffbreath"].value_counts()

 0    929
 1    916
-1    909
Name: diffbreath, dtype: int64

In [6]:
df.describe()

,feaver,bodypain,age,runnyNose,diffbreath,infectionprob
count,2754.000000,2754.000000,2754.000000,2754.000000,2754.000000,2754.000000
mean,100.011957,0.501452,52.342774,0.491649,0.002542,0.494553
std,1.159983,0.500089,30.210993,0.500021,0.814191,0.500061
min,98.000644,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.992614,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,100.026967,1.000000,53.000000,0.000000,0.000000,0.000000
75%,101.006135,1.000000,78.750000,1.000000,1.000000,1.000000
max,101.999557,1.000000,104.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [7]:
import numpy as np

In [8]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [9]:
np.random.permutation(7)

array([1, 5, 4, 2, 3, 0, 6])

In [10]:
train, test = data_split(df, 0.2)

In [11]:
train

          feaver  bodypain  age  runnyNose  diffbreath  infectionprob
644   101.835198         1   27          0           0              1
261    98.646807         0   76          1          -1              0
809   100.509196         0   83          0           0              1
1405  101.452340         1   36          0          -1              0
1786  101.867267         0   97          1           0              1
...          ...       ...  ...        ...         ...            ...
1638   98.712308         0   18          1          -1              0
1095   99.440851         0   84          0          -1              1
1130   98.208371         1   92          1           1              1
1294  100.013542         0   44          0           1              1
860    99.207481         0   39          1           0              1

[2204 rows x 6 columns]

In [12]:
test

          feaver  bodypain  age  runnyNose  diffbreath  infectionprob
2740  100.540427         1   69          1           0              0
1911   99.950229         0   28          0          -1              1
1263   98.857727         1    3          1           1              0
1456   99.193967         0   40          1          -1              0
2254  100.189149         0   47          1           0              0
...          ...       ...  ...        ...         ...            ...
100   101.906942         1    8          1           0              1
315   101.568166         1   80          1          -1              0
798   100.540127         1   97          0           1              1
759    98.954361         1   77          1          -1              1
568   100.143195         0   61          1           0              0

[550 rows x 6 columns]

In [13]:
x_train = train[["feaver", "bodypain", "age", "runnyNose", "diffbreath"]].to_numpy()
x_test = test[["feaver", "bodypain", "age", "runnyNose", "diffbreath"]].to_numpy()

In [14]:
y_train = train[["infectionprob"]].to_numpy().reshape(2204 ,)
y_test = test[["infectionprob"]].to_numpy().reshape(550 ,)

In [15]:
y_train

array([1, 0, 1, ..., 1, 1, 1], dtype=int64)

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
clf = LogisticRegression()
clf.fit(x_train, y_train)

LogisticRegression()

In [18]:
inputfeatures = [100, 1, 22 , -1, 1]
infprob = clf.predict_proba([inputfeatures])[0][1]

In [19]:
infprob

0.5265166096287329